* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.navbar {
    width:60%;
    margin:auto;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #333;
  }

  #menu-toggle:checked + .hamburger +.nav-links {
    display: flex;
  }

  .nav-links a {
    padding: 15px 10px;
    border-top: 1px solid #444;
  }
}
